body{
	text-align: center;

	font-family: Raleway;

	margin: 0;

}

header
{
	background: #F15B31;

	padding: 30px 20px;

	color: #FFFFFF;
}

footer
{
	text-transform: uppercase;

	padding: 0px 20px;

	background: #0D2C40;

	color: #FFFFFF;

	font-size: 14px;

	letter-spacing: 0.8em;

	font-weight: 500;
}

nav
{
	background: #00A6B3;

	color: #FFFFFF;

	padding: 20px 0px;
}

nav a
{
	margin: auto 20px;

	color: #FFFFFF;

	border-bottom: 2px solid transparent;
}

main
{
	width: 850px;

	margin: 35px auto;
}

.title
{
	letter-spacing: 1px;
}

h1{

	font-weight: 400;

	font-size: 45px;

	margin: 0;
}

h2{
	color:#0D2C40;

	font-weight: 600;

	font-size:20px;
}

a{
	color:#F15B31;

	font-weight: 400;

	font-size: 18px;

	text-decoration: none;

	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: #FFFFFF;
}

p{
	font-family: "droid serif";

	line-height: 24px;

	font-size: 18px;
}

img
{
	margin: 40px 8px;
}

.copyright
{
	font-family: Raleway;

	float: left;
}

.message
{
	font-family: Raleway;

	float: right;
}

.name
{
	color: #F15B31;

	font-weight: 700;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
